.tittle__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin__box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 12px;
}

/* CAPA */

.cover {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.cover__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover__box__one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cover__box__three {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.cover__box__social {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
}

.cover__box__four {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

/* MENU */

.menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.menu__menu {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.menu__box-size {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* QUEM SOU EU */

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CURIOSIDADES */

.curiosities {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curiosities__box__text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* IDIOMAS */

.languages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.languages__box__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

/* SKILLS */

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__box__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* CURSOS */

.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses__box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 12px;
}

.courses__tittle__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

/* PROJETOS */

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 12px;
}

.projects__tittle__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

/* FORMAÇÃO */

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education__box {
    display: flex;
    flex-direction: column;
}

/* EXPERIÊNCIA */

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FALE COMIGO */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}




@media (min-width: 768px) {

    .menu {
        flex-flow: row wrap;
    }

    .cover__box__social {
        flex-direction: row;
        justify-content: center;
    }

}

@media (min-width: 1440px) {

}